.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.grid-cell {
  border: 1px solid black;
  box-sizing: border-box;
  flex: 0 0 100%;
  padding: 0.25em;
}

.grid-cell__input {
  border: none;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 360px) {
  .grid-cell {
    flex-basis: 50%;
  }
}
@media (min-width: 720px) {
  .grid-cell {
    flex-basis: 50%;
  }
}

.number-display {
  text-align: right;
}

/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}